parameters:
	typeAliases:
		pamald-npm-relationship: '''
			array{
				type: ?\Pamald\Pamald\DependencyType,
				link: ?\Pamald\Pamald\DependencyLink,
				environment: ?\Pamald\Pamald\DependencyEnvironment,
				versionConstraint: ?string,
			}
		'''
